/WifiRelayESP/credentials.h
/build-*
*.user
/MqttClientESP/credentials.h
/PreheatRemoteControl/credentials.h
/MqttClientESP_Relay/credentials.h
/HomeControl_RPI/constant_strings.h
/HomeControl_Admin_RPI/constant_strings.h
*.qm
/MqttClientESP_Temp/credentials.h
/CurrentCounter/credentials.h
/workspace
/DoorBellRinger/credentials.h
